<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/e7c15fdb77.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
      <title>{% block title %}{% endblock %}</title>
  </head>
  <body>

    <!-- Navbar -->
    <div class = Navbar>
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" href="/"><i class="far fa-grin"></i> Pick Up</a>
            <div class="Buttons">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/trashpickup">Trash pick up</a>
            <a class="nav-item nav-link" href="/rewards">Rewards</a>
            <a class="nav-item nav-link" href="/signup">Sign Up</a>
            <a class="nav-item nav-link" href="/account">Account</a>
            </div>
        </nav>
    </div>


    {% block content %}{% endblock %}

    <!-- Footer -->
    <div class="Footer">
        <div class="Buttons">
            <a class="footer-item footer-link" href="/">About us</a>
            <a class="footer-item footer-link" href="/trashpickup">Where are you?</a>
            <a class="footer-item footer-link" href="/rewards">About rewards</a>
            <a class="footer-item footer-link" href="/signup">Sign up</a>
            <a class="footer-item footer-link" href="/account">Sign in</a>
        </div>
    </div> 

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

<script src="/static/index.js"></script>


</body>
