{% extends 'base.html' %}

{% block title %} Pick Up {% endblock %}

{% block content %}
<main role="main" class="container" style="margin-top: 4vh;">

        <!-- Hero -->
        <div id="jumbotron">
            <div class="text">
                <h1>Pick up</h1> <br>
                <h3>Clean the planet one piece of trash at a time</h3>
            </div>
        </div>

        <!-- Image and text 1-->
        <div id="img-and-text">
            <div class="text">
                <h2>Our mission</h2>
                <p>Everyday, more and more trash ends up on the streets, in our parks,
                    on our beaches and in our oceans. Everyday we pollute our planet
                    more and more. While we may not be able to strike every day, or
                    pass laws that will help fight against global warming, we are all
                    able to at least clean up a little bit everyday. Pick Up was created
                    in order to help clean up our planet one piece of trash at a time.
                    Together, we can make a change.
                </p>
            </div>
            <div class="image">
                <img src="/static/images/litter2.jpg">
            </div>
        </div>

        <!-- Image and text 2-->
        <div id="img-and-text">
            <div class="image">
                <img src="/static/images/litter.jpg">
            </div>
            <div class="text-and-button">
                <div class="text">
                    <h2>How it works</h2>
                    <p>Pick up is a website designed to entice people to pick up litter 
                        they see while going about their daily lives. If everyone forms a 
                        habit of doing so, our planet would be a lot cleaner and healthier, 
                        not to mention prettier! With every pound of trash picked up, users 
                        can start earning points towards gift cards! The more points they 
                        earn, the more valueable the gift card is. </p>
                </div>
                <section>
                    <button> <a href="rewards.html"> Sign up! </a></button>
                </section>
            </div>
        </div>
</main>
{% endblock %}