{% extends 'base.html' %}

{% block title %} Pick Up {% endblock %}

{% block content %}

<main role="main" class="container" style="margin-top: 4vh;">

    <!-- Hero -->
    <div id="hero">
        <div class="text">
            <h1>Trash Pick Up</h1>
            <p>Let us know where you pick up, and where you drop off the liter you
                found! While you're throwing it away, take a video and send it to us! With all this information, we will be able to let users find litter pick up areas and drop off zones more easily! 
            </p>
        </div>
    </div>

    <!-- Map -->
    <div id="map">
        <img src="/static/images/map.jpg">
    </div>

    <!-- New link -->
    <a href='/trashpickup'>New Pick Up</a>

    
    <h2>{{ pickup.username }}</h2>
    <small>{{ pickup.pick_up }}</small> 
    <small>{{ pickup.drop_off }}</small>
</main>
{% endblock %}

