{% extends 'base.html' %}

{% block title %} Pick Up {% endblock %}

{% block content %}

<main role="main" class="container" style="margin-top: 4vh;">

        <!-- Hero -->
        <div id="hero">
            <div class="text">
                <h1>Rewards</h1>
            </div>
        </div>

        <!-- Info cards -->
        <div id="cards">
            <div class="card">
                <img src="/static/images/200.jpg">
            
                <h3>200 Points</h3>
            
                <p>After picking up 40 pounds of trash, you will earn 200 points! With
                    that number of points you will be able to redeem them for a $5 gift
                    card/voucher at Itunes or Amazon.
                </p>
                
                <button> <a href="#sign-up"> Sign up! </a></button>
            </div>
            
            <div class="card">
                <img src="/static/images/500.jpg">
            
                <h3>500 Points</h3>
                
                <p>After picking up 100 pounds of trash, you will earn 500 points! With
                    that number of points you will be able to redeem them for a $20 gift
                    card/voucher at Itunes, Amazon, Sephora or Nike.</p>
                
                <button> <a href="#sign-up"> Sign up! </a></button>
            </div>
            
            <div class="card">
                <img src="/static/images/1000.jpg">
                
                <h3>1000 Points</h3>

                <p>After picking up 200 pounds of trash, you will earn 1000 points! With
                    that number of points you will be able to redeem them for a $50 gift
                    card/voucher at Itunes, Amazon, Sephora, Nike, Playstation, Nintendo,
                    or Apple! With the biggest reward, you will also be able to submit a
                    picture for us to post on our social media account for all to see how
                    you are helping save the earth!</p>
                
                <button> <a href="/signup"> Sign up! </a></button>
            </div>
        </div>

</main>
{% endblock %}