{% extends 'base.html' %}

{% block title %} Pick Up {% endblock %}

{% block content %}

<main role="main" class="container" style="margin-top: 4vh;">

    <!-- Hero -->
    <div id="hero">
        <div class="text">
            <h1>Sign Up</h1>
        </div>
    </div>

    <!-- Sign up section -->
    <div id="sign-up">
        <div class="text">
            <p>
                Sign up and get rewards for picking up trash! Submit videos of 
                you throwing away the trash you pick up and earn 5 points per 
                pound thrown away. Get diffrent levels of rewards based on the 
                amount of points you have. Sign up and earn today!
            </p>
        </div>
    </div>

    <!-- Contact form -->
    <div id="wrapper">
        <form action="/signup_submit" method="post">

            <section>
                <p>
                    <label for='name'>Name</label><br>
                    <input type='text' name='name' />
                </p>

                <p>
                    <label for='email'>Email</label><br>
                    <input type='email' name='email' />
                </p>
                <p>
                    <label for='username'>Username</label><br>
                    <input type='text' name='username' />
                </p>

                <p>
                    <label for='password'>Password</label><br>
                    <input type='text' name='password' />
                </p>
            
            
            <section>
            <button type="submit">Submit</button>
            </section>
                
        </form>
    </div>

</main>
{% endblock %}